language: c++
before_script:
    - sudo apt-get update -qq
    - sudo apt-get install -qq libmicrohttpd-dev libini-config-dev libwebsockets-dev libjansson-dev libnice-dev libssl-dev libsrtp-dev libsofia-sip-ua-dev libglib2.0-dev libogg-dev pkg-config gengetopt libtool automake
    - wget http://downloads.xiph.org/releases/opus/opus-1.1.tar.gz
    - tar -xvf opus-1.1.tar.gz
    - cd opus-1.1
    - ./configure && make
    - sudo make install
    - cd ..
    - rm -rf opus-1.1
script:
    - sh autogen.sh
    - ./configure --prefix=/opt/janus --disable-docs --disable-data-channels --disable-rabbitmq
    - make
    - make install
    - make configs
